@model Airline_Ticket_Reservation.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("ChangePassword", "Customer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <table style="width: 100%">
        
     
    <tr>
        <td style="color: #CC00CC; text-align: right; width: 531px; height: 41px;"><b>
            <label id="Label3" style="color: #000000">User Name</label>
            </b></td>
        <td style="width: 334px; height: 41px;">
            @*<input type="text" id="uname" name="uname" />*@
                @Html.TextBoxFor(m => m.uname)
                @Html.ValidationMessageFor(m => m.uname)
        </td>
    </tr>
    <tr>
        <td style="width: 159px; text-align: right; height: 41px;">
            <label id="Label16" style="font-weight: 700" >Old Password</label>
        </td>
        <td style="height: 41px; width: 490px;">
            @*<input type="password" id="old" name="old" />*@
             @Html.TextBoxFor(m => m.old)
                @Html.ValidationMessageFor(m => m.old)
        </td>
    </tr>
    <tr>
        <td style="color: #CC00CC; text-align: right; width: 531px; height: 44px;"><b>
            <label id="Label4" style="color: #000000">New Password</label>
            </b></td>
        <td style="width: 334px; height: 44px;">
            @*<input type="password" id="newpwd" name="newpwd" />*@  
                   @Html.TextBoxFor(m => m.newpwd)
                @Html.ValidationMessageFor(m => m.newpwd)          
        </td>
    </tr>
    <tr>
        <td style="width: 159px; text-align: right; height: 44px;">
            <label id="lbldeptime" style="font-weight: 700;">Confirm Password</label>
        </td>
        <td style="height: 44px; width: 490px;">
            @*<input type="password" id="cnpwd" name="cnpwd" >*@
                @Html.TextBoxFor(m => m.cnpwd)
                @Html.ValidationMessageFor(m => m.cnpwd)
        </td>
    </tr>
    
    <tr>
        <td style="color: #CC00CC; text-align: center; height: 36px;" colspan="4">
            <input id="btnSubmit" type="submit" name="btnSubmit" value="Change Password" />   
        </td>
    </tr>
    
    <tr>
        <td style="width: 531px">&nbsp;</td>
        <td style="width: 334px">&nbsp;</td>
        
    </tr>
         
</table>
}